.prime-title {
  position:relative;
  left: 30%;
}

.middle-container {
  position:relative;
  left: 30%;


}

body {
  background-color: #F6F2D4;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

hr {
  border-style: none none dotted;
  color: #95D1CC;
  border-width: 8px;
  width: 10%;
}
h1{
  color: #5584AC;
}
h3{
  color: #5584AC;
}
